@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
}

.card-item {
    width: 40%;
}

.card-list {
    max-height: 67vh;
}

.categorie-item {
    border-radius: 20px;
}

.button {
    -webkit-tap-highlight-color: transparent;
}

.profile-page {
    height: 90vh;
}

.input {
    border-radius: 15px;
}

.card-item-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-detail {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
